<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>WWII Dashboard</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.0/slate/bootstrap.min.css">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

   <!-- D3 -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>
   <!-- Leaflet CSS & JS -->
   <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
   <script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
   <!-- Our CSS -->
   <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">

</head>

<body>
<div class="container">
<div class='row'>
<div class="col-md-4">
<br>
<h1>WWII Weather Stations</h1>
    <div class="form-group">
        <select class="custom-select" id='stat_select' onchange="getData(this.value)">
          <option selected="#stat">Station Name</option>
        </select><br>
        <select class="custom-select" id='date_select' onchange="getData(this.value)">
            <option selected="#date">Date</option>
          </select>
      </div>
      <div class="card border-primary mb-4" style="max-width: 20rem;">
          <div class="card-header">Station Data</div>
          <div class="card-body">
            <p class="card-text" id='meteocard'></p>
          </div>
        </div>
</div>
<div class="col-md-8">
  <br>
  <div id="map"></div>
  <script>
  var myMap = L.map("map", {
    center: [48.86, 2.35],
    zoom: 1,
});

        function getData(data){
         console.log(data);
         //Station data
             stat_loc_ = JSON.parse(getJSON('/location/' + data));
             console.log(stat_loc_);
             //var select_samp = document.getElementById("meteocard");
             //var text_samp = JSON.stringify(meteo_day);
             //var text_fin= text_samp.replace(/,/g, "\n");
             //select_samp.innerText=text_fin;
        }

// Adding a tile layer (the background map image) to our map
// We use the addTo method to add objects to our map
L.tileLayer(
  "https://api.mapbox.com/styles/v1/mapbox/dark-v9/tiles/256/{z}/{x}/{y}?" +
    "access_token=pk.eyJ1Ijoib3Nha2hhcm55a2giLCJhIjoiY2poYXZpYmFkMHJnNDMwbnZkNHpqNHQ1MCJ9.UFjUchIYjdEV8Miw8kIWjg"
).addTo(myMap);

var marker = L.marker([45.52, -122.67], {
  draggable: true,
  title: "My First Marker"
}).addTo(myMap);

// Binding a pop-up to our marker
marker.bindPopup("Hello There!");


  </script>

</div>
</div>


<!--SCRIPT-->
<script src="http://d3js.org/d3.v3.js"></script>
    <script>
        var stat_url='/stations';
        var date_url='/dates';
        statdata=[];
        datedata=[];

        var sortOption_st = document.getElementById('stat_select');
        var sortOption_date = document.getElementById('date_select');
        //console.log(sortOption_st);
        //console.log(sortOption_date);

        //sort = sortOption.options[sortOption.selectedIndex].value;

        //Pulling the data from dropdown selection
        function getData(data1){
         //console.log(data2);
         //Station data
             //meteo_day = JSON.parse(getJSON('/data/' + data1+'/'+data2));
             //console.log(sample_sample);
             //var select_samp = document.getElementById("meteocard");
             //var text_samp = JSON.stringify(meteo_day);
             //var text_fin= text_samp.replace(/,/g, "\n");
             //select_samp.innerText=text_fin;
        }


        //Getting the names from app route
        function getJSON(url) {
            var resp ;
            var xmlHttp ;
            resp  = '' ;
            xmlHttp = new XMLHttpRequest();
            if(xmlHttp != null)
            {
                xmlHttp.open( "GET", url, false );
                xmlHttp.send( null );
                resp = xmlHttp.responseText;
            }
            return resp ;
        }
        statdata = JSON.parse(getJSON(stat_url));
        datedata = JSON.parse(getJSON(date_url));

        //Create dropdowns 
        var select_s = document.getElementById("stat_select");
        for (var i = 0; i < statdata.length; i++)
            select_s.appendChild(new Option(statdata[i], statdata[i], false, false));
        
        var select_d = document.getElementById("date_select");
        for (var i = 0; i < datedata.length; i++)
            select_d.appendChild(new Option(datedata[i], datedata[i], false, false));
           // console.log(datedata)


    </script>


</div>
</body>

</html>
